<template>
  <div >
    <v-toolbar dense>
      <v-btn
        icon
        color="gray"
        @click="goToSalesView"
      >
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-toolbar-title>Liste des lots</v-toolbar-title>
    </v-toolbar>
      <v-container class="fill-height pt-12">
        <v-row align="center" justify="center">
          <template v-if="lots.length > 0 && !loading">
            <v-col
              v-for="(lot, index) in lots"
              class="flex-shrink-1"
              :key="index"
              cols="12"
              md="4"
              lg="3"
            >
              <CardLot
                :lot="lot"
                :index="index"
              />
            </v-col>
          </template>
          <template v-else-if="loading">
            <v-col
              cols="4"
              class="text-center mt-12"
            >
              <v-progress-circular
                :size="70"
                :width="5"
                color="primary"
                indeterminate
              ></v-progress-circular>
            </v-col>
          </template>
          <template v-else>
            <v-col
              cols="12"
            >
              <v-alert
                icon="mdi-information"
                prominent
                text
                type="info"
              >
                Aucun lots trouvés pour cette vente
              </v-alert>
            </v-col>
          </template>
        </v-row>
      </v-container>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
import CardLot from '@/components/CardLot'

export default {
  name: 'Lots',
  components: {
    CardLot
  },
  data () {
    return {
      sale: {},
      loading: false,
    }
  },
  computed: {
    ...mapState('lots', ['lots'])
  },
  created () {
    this.loadLots(parseInt(this.$route.params.saleId))
  },
  beforeDestroy () {
    this.SET_LOTS([])
  },
  methods: {
    ...mapActions('lots', ['getLots']),
    ...mapMutations('lots', ['SET_LOTS']),
    goToSalesView () {
      this.$router.push('/sales')
    },
    async loadLots (saleId) {
      try {
        this.loading = true
        const { data } = await this.getLots(saleId)
        this.SET_LOTS(data)
        this.loading = false
      } catch (error) {
        console.error('Error when getting lots : ', error)
      }
    },
  }
}
</script>