<template>
  <div >
    <v-toolbar dense>
      <v-toolbar-title>Liste des ventes</v-toolbar-title>
    </v-toolbar>
    <v-container class="fill-height pt-12">
      <v-row align="stretch" justify="center">
        <v-col
          v-for="(sale, index) in sales"
          :key="index"
          cols="12"
          md="4"
          lg="3"
        >
          <CardSale
            :sale="sale"
          />
        </v-col>
      </v-row>
      <v-btn
        bottom
        color="primary"
        dark
        fab
        fixed
        right
        @click="openDialogCreateSale"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>

      <v-dialog
        v-model="dialogCreateSale"
        persistent
        width="800px"
        scrollable 
      >
        <v-card>
          <v-card-title class="primary white--text">
            Nouvelle vente
          </v-card-title>
          <v-card-text style="max-height: 400px;">
            <v-form
              ref="formCreateSale"
              v-model="validFormCreateSale"
              lazy-validation
            >
              <v-container fluid>
                <v-card class="pb-5">
                  <v-toolbar class="elevation-0">
                    <v-toolbar-title>Ventes</v-toolbar-title>
                  </v-toolbar>
                  <v-row no-gutters align="center" justify="center">
                    <v-col cols=10>
                      <v-text-field
                        v-model="newSale.title"
                        :rules="rules.title"
                        placeholder="Titre"
                        required
                      ></v-text-field>
                    </v-col>

                    <v-col cols=10>
                      <v-textarea
                        v-model="newSale.description"
                        :rules="rules.description"
                        placeholder="Description"
                        rows="3"
                        required
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card class="mt-8 pb-5">
                  <v-toolbar class="elevation-0">
                    <v-toolbar-title>Lots</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="addLot">
                      <v-icon>mdi-plus</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-row no-gutters align="center" justify="center">
                    <v-col
                      v-for="(lot, index) in newSale.lots"
                      :key="index"
                      cols=10
                    >
                      <v-textarea
                        v-model="lot.description"
                        :append-icon="index > 0 ? 'mdi-delete' : ''"
                        @click:append="deleteLot(index)"
                        rows="3"
                        :rules="rules.description"
                        :placeholder="`Entrez une description pour le lot n° ${index + 1}`"
                        required
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-card>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              text
              @click="cancelCreateSale"
            >Annuler</v-btn>
            <v-btn
              @click="validCreateSale"
              color="primary"
              :disabled="!validFormCreateSale"
              text
            >Créer</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
 
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import CardSale from '@/components/CardSale'

export default {
  name: 'Sales',
  components: {
    CardSale
  },
  data () {
    return {
      dialogCreateSale: false,
      validFormCreateSale: true,
      copyOfSale: {
        title: '',
        description: '',
        lots: [{
          description: ''
        }]
      },
      newSale: {},
      rules: {
        title: [
          v => !!v || 'Titre requis',
        ],
        description: [
          v => !!v || 'Description requise',
        ],
      }
    }
  },
  computed: {
    ...mapState('sales', ['sales'])
  },
  beforeMount () {
    this.loadSales()
  },
  methods: {
    ...mapActions('sales', ['getSales', 'createSale']),
    ...mapActions('lots', ['createLots']),
    ...mapMutations('sales', ['SET_SALES']),
    ...mapMutations(['SET_SNACKBAR']),
    addLot () {
      this.newSale.lots.push({ description: ''})
    },
    cancelCreateSale () {
      this.$refs.formCreateSale.resetValidation()
      this.newSale = JSON.parse(JSON.stringify(this.copyOfSale))
      this.dialogCreateSale = false
    },
    async validCreateSale () {
      const snackbar = {}
      try {
        if (this.$refs.formCreateSale.validate()) {
        this.dialogCreateSale = false
        const arg = {
          title: this.newSale.title,
          description: this.newSale.description
        }
        const { data } = await this.createSale(arg)
        await this.createLots({saleId: data.id, lots: this.newSale.lots})
        this.loadSales()
        snackbar.text = 'Vente créée'
        this.SET_SNACKBAR(snackbar)
      }
      } catch (error) {
        snackbar.text = 'Erreur lors de la création'
        console.error('Error occured when creating new sale: ', errror)
        this.SET_SNACKBAR(snackbar)
      }
    },
    deleteLot (index) {
      if (index > 0) {
        this.newSale.lots.splice(index, 1)
      }
    },
    async loadSales () {
      try {
        const { data } = await this.getSales()
        this.SET_SALES(data)
      } catch (error) {
        console.error('Error when getting sales : ', error)
      }
    },
    openDialogCreateSale () {
      this.newSale = JSON.parse(JSON.stringify(this.copyOfSale))
      this.dialogCreateSale = true
    },
    viewLots (saleId) {
      this.$router.push({ name: 'lots', params: { saleId: saleId }})
    }
  },
}
</script>