<template>
  <div >
    <v-toolbar dense>
      <v-btn
        icon
        color="gray"
        @click="goToSalesView"
      >
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-toolbar-title>Recherche</v-toolbar-title>
    </v-toolbar>
    <v-container class="fill-height pt-12">
      <v-row align="stretch" justify="center">
        <v-col
          cols="10"
        >
          <v-card>
            <v-card-title>
              <v-text-field
                v-model="searchQuery"
                :loading="isLoading"
                append-icon="mdi-search"
                placeholder="Rechercher une vente ou un lot"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="headers"
              :items="resultsSearch"
              class="elevation-1"
            >
              <template v-slot:item.type="{ item }">
                <v-chip v-if="item.type === 'sale'" color="grey" dark>Vente</v-chip>
                <v-chip v-else color="green" dark>Lot</v-chip>
              </template>
              <template v-slot:item.action="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="viewSearch(item)"
                >
                  mdi-eye
                </v-icon>
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog
      v-model="dialogViewItem"
      max-width="500"
    >
      <v-card>
        <v-card-title v-if="itemToShow.type === 'sale'" class="headline grey--text">Vente</v-card-title>
        <v-card-title v-else class="headline green--text">Lot</v-card-title>

        <v-card-text>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title v-if="itemToShow.type === 'sale'" class="headline mb-5">{{itemToShow.title}}</v-list-item-title>
              <p><b>Description</b>: {{itemToShow.description}}</p>
            </v-list-item-content>
          </v-list-item>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary darken-1"
            text
            @click="dialogViewItem = false"
          >
            fermer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import { debounce } from 'lodash'

export default {
  name: 'Search',
  data () {
    return {
      dialogViewItem: false,
      searchQuery: '',
      itemToShow: {},
      headers: [
        {
          text: 'Type',
          value: 'type',
        },
        { text: 'Description', value: 'description' },
        { text: '', value: 'action' }
      ],
      isLoading: false
    }
  },
  computed: {
    ...mapState(['resultsSearch'])
  },
  watch: {
    searchQuery: debounce(async function (newVal) {
      try {
        if (newVal && newVal.length >= 3) {
          if (this.isLoading) return
          this.isLoading = true
          await this.search(newVal)
          this.isLoading = false
        }
      } catch (error) {
        console.error('Error when searching city: ', error)
      }
    }, 500)
  },
  methods: {
    ...mapActions(['search']),
    getTypeColor (type) {
      return type === 'sale'
    },
    viewSearch (item) {
      this.itemToShow = item
      this.dialogViewItem = true
    },
    goToSalesView () {
      this.$router.push('/sales')
    }
  }
}
</script>