<template functional>
  <v-card
    class="mx-auto d-flex flex-column"
    max-width="350"
    height="100%"
  >
    <v-toolbar dense class="elevation-0" max-height="48px">
      <v-toolbar-title>{{props.sale.title}}</v-toolbar-title>
    </v-toolbar>
    <!-- <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title class="title font-weight-regular mb-1">{{props.sale.title}}</v-list-item-title>
      </v-list-item-content>
    </v-list-item> -->

    <v-card-text class="mb-5">
      {{props.sale.description}}
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            color="grey"
            v-on="on"
            @click="parent.viewLots(props.sale.id)"
          >
            <v-icon>mdi-eye</v-icon>
          </v-btn>
        </template>
        <span>Voir les lots</span>
      </v-tooltip>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'CardSale',
  props: {
    sale: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>
  .v-card__text {
    max-height: 120px;
    min-height: 120px;
    overflow-x: auto;
  }
</style>

