<template functional>
  <v-card
    class="mx-auto d-flex flex-column"
    max-width="350"
    height="100%"
  >
    <!-- <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title class="title font-weight-regular mb-1">
          Lot n°{{props.index + 1}}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item> -->

    <v-toolbar dense class="elevation-0" max-height="48px">
      <v-toolbar-title> Lot n°{{props.index + 1}}</v-toolbar-title>
    </v-toolbar>

    <v-card-text class="mb-5">
      {{props.lot.description}}
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'CardSale',
  props: {
    lot: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  }
}
</script>

