<template>
  <div id="app">
    <v-app>
      <v-app-bar
        app
        color="primary"
        dark
      >
        <v-toolbar-title>Interencheres</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn v-if="displaySearchIcon" icon @click="goToSearchView">
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-app-bar>

      <v-content>
        <transition
          name="fade"
          mode="out-in"
        >
          <router-view/>
        </transition>
      </v-content>

      <v-snackbar
        v-model="showSnackbar"
        bottom
        right
        :timeout="5000"
      >
        <span v-html="snackbar.text"></span>
      </v-snackbar>

    </v-app>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'App',
  data () {
    return {
      showSnackbar: false,
      snackbar: {}
    }
  },
  computed: {
    displaySearchIcon () {
      return this.$route.name !== 'search'
    },
    ...mapState({ snck: 'snackbar' }),
  },
  watch: {
    snck (newVal) {
      this.snackbar = newVal
      this.showSnackbar = true
    }
  },
  methods: {
    ...mapMutations(['SET_SNACKBAR']),
    goToSearchView () {
      this.$router.push('/search')
    }
  }
}
</script>

<style>
  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
  }
  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
</style>
